.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.block {
  min-width: 1070px;
  width: auto;
  height: auto;
  padding: var(--space-3);
  background-color: var(--white);
  border-radius: var(--radius-3);
  box-shadow: var(--line-box-shadow);
}